.Home-layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;

  .Card-container-home {
    width: 50%;

    .Bagde-card-container-home {
      padding: 8px 24px;
      border-radius: 50px;
      box-shadow: 0 0 10px rgba(black, 0.08);
      background-color: white;
      color: grey;
      font-size: 16px;
      font-weight: bold;
    }

    .title-card-container-home {
      margin: 40px 0 120px;
      font-size: 40px;
      font-weight: 400;
      color: black;
      font-family: var(--font-title);

      span {
        color: var(--blue-main-color);
      }
    }
  }

  .Card-container-img {
    width: 50%;
    text-align: right;

    img {
      width: 80%;
      border-radius: 24px;
    }
  }

  .search-layout-home {
    position: absolute;
    bottom: 24%;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 16px rgba(black, 0.08);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;

    .search-content-container {
      padding: 0 16px;
      width: 288px;
      height: 60px;
      border: none;
      border-radius: 12px 0 0 12px;
      border-right: 1px solid rgba(black, 0.08);
      font-family: var(--font-content);
    }

    .search-layout-home-btn {
      display: flex;
      align-items: center;
      padding: 0 28px;
      height: 60px;
      border: none;
      border-radius: 0 12px 12px 0;
      background-color: var(--blue-main-color);
      color: #fff;
      font-size: large;
      cursor: pointer;
    }
  }
}
