.login {
    width: 100%;

    .login-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        height: 45vh;
        font-family: "DM Serif Display", serif;
        background-color: #f6f4f4;

    }

    .login-content {
        .login-content__form {
            margin: 2rem 1rem 2rem 6rem;

            .login-content__form__input__email {
                margin: 2rem 1rem 2rem 6rem;
                width: 74%;
                gap: 0 !important;
            }

            .login-content__form__input__password {
                margin: 2rem 6rem 2rem 1rem;
                width: 74%;
                gap: 0 !important;
            }

            button {
                width: 81.5%;
                margin: 2rem 6rem 2rem 6rem;
                height: 40px;

            }

            .login-content-forget {
                text-align: right;
                margin: 2rem 10rem 2rem 6rem;
                padding-bottom: 3rem;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }

            .login-content-ask {
                text-align: center;
                padding-top: 3rem;
                font-family: "DM Serif Display", serif;
                font-weight: bold;
            }

            .login-content-signup {
                text-align: center;
                margin-right: 3rem;
                margin-left: 3.5rem;
                padding-top: 1rem;
                padding-bottom: 4rem;
                font-size: smaller;
            }
        }
    }
}