.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;

    .title {

        font-size: 3.5rem;
        font-weight: bold;
        width: 50%;
        text-align: center;
    }
}