$font-content: DM Sans, sans-serif;
$font-title: DM Serif Display, sans-serif;
$blue-main-color: #5c98f2;

.Home-layout {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;


    .Card-container-home {
        background-color: #f5f5f5;
        width: 100%;
        border: none;

        .Bagde-card-container-home {
            background-color: #fff;
            width: fit-content;
            padding: 8px 25px;
            border-radius: 1.5rem;
            font-size: 17px;
            font-weight: 500;
            text-transform: none;
            color: #41ddb8;
            box-shadow: 0 0 10px rgba(186, 174, 174, 0.2);
            margin-bottom: 2rem;
        }

        .title-card-container-home {
            font-size: 84px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
            color: rgb(30, 30, 30);
            font-family: DM Serif Display, sans-serif;
            line-height: 1.2;
        }

        .content-card-container-home {
            font-family: DM Sans, sans-serif;
            font-size: 20px;
            text-transform: none;
            color: #8c8c8c;
            line-height: 1.7;
            margin-top: 1rem;
            width: 80%;
        }
    }

    .search-layout-home {
        -webkit-box-shadow: 0 20px 35px rgba(14, 13, 13, 0.08);
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 5%;
        background-color: #fff;
        // padding: 30px 0px;
        border-radius: 18px;
        gap: 30px;

        .search-content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            padding: 10px 20px;
            font-family: DM Sans, sans-serif;

            .search-content-container-label {
                padding: 10px 10px;

            }
        }

        // .search-layout-home-container {}

        .search-layout-home-btn {
            width: 166px;
            height: 130px;
            background-color: #5c98f2;
            border-radius: 0 18px 18px 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: DM Sans, sans-serif;
            color: #fff;
        }
    }
}