$font-content: DM Sans, sans-serif;
$font-title: DM Serif Display, sans-serif;
$blue-main-color: #5c98f2;

.create-hotel-wrapper {
  .title {
    margin: 0 0 16px 0;
  }

  .form {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .item-100 {
      margin-bottom: 12px;
      width: 100%;
    }

    .item-75 {
      margin-bottom: 12px;
      width: 75%;
    }

    .item-50 {
      margin-bottom: 12px;
      width: 50%;
    }

    .item-25 {
      margin-bottom: 12px;
      width: 25%;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .input {
      padding: 12px;
      width: calc(100% - 20px);
      min-height: 40px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1em;
      resize: vertical;

      &:focus-visible {
        outline: 1px solid $blue-main-color;
      }
    }

    .error-message {
      color: red;
      font-size: 0.8em;
      margin-top: 5px;
    }

    h3 {
      font-size: 1.2em;
      border-bottom: 2px solid #f1f1f1;
      padding-bottom: 12px;
      margin-bottom: 12px;
    }

    .location {
      display: flex;
    }

    .conveniences {
      display: flex;
      flex-wrap: wrap;

      .item-check {
        display: flex;
        align-items: center;
        padding: 16px;
        width: 30%;

        input {
          margin-right: 8px;
          width: 20px;
          height: 20px;
        }

        .label {
          display: block;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    .btn-group {
      width: 100%;
      display: flex;
      gap: 8px;
      justify-content: end;

      button {
        background: rgba($color: $blue-main-color, $alpha: 0.88);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;

        &:hover {
          background: $blue-main-color;
        }
      }

      .cancel {
        background-color: white;
        color: red;

        &:hover {
          background: white;
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }
}
