.wrapper-login {
  display: flex;
  gap: 16px;
  padding: 100px 10% 40px;
  width: 100%;
  font-family: var(--font-content);

  .image {
    width: 50%;
    max-height: 640px;
    border-radius: 12px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .title {
      margin: 0 0 24px;
      color: black;
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      font-family: var(--font-title);
    }
    .form {
      padding: 40px;

      .body {
        .item {
          margin: 0 0 24px;

          .label {
            margin: 0 0 8px;
            color: #5c5c5c;
          }

          .input {
            width: 100%;
            height: 48px;
            padding: 0 8px;
            border-radius: 8px;
            border: 1px solid #a9a9a9;
            outline: none;

            &:focus-visible {
              outline: 1px solid var(--blue-main-color);
            }
          }

          .error {
            margin: 4px 0 0 0;
            color: red;
          }
        }
      }

      .btn {
        width: 100%;
        height: 52px;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: var(--blue-main-color);
        color: white;
        font-weight: bold;
        font-size: larger;
        cursor: pointer;
      }
    }

    .register-section {
      padding: 40px;

      .login-content-ask {
        margin: 0 0 16px;
        text-align: center;
        font-size: 20px;
        font-family: var(--font-title);
      }

      .login-content-signup {
        color: var(--blue-main-color);
        font-size: 16px;
        text-align: center;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }
}
