.payment-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  font-family: var(--font-content);

  .container {
    margin: 0 10%;
    width: 80%;

    .heading {
      padding: 40px 0;
      font-family: var(--font-title);
      font-size: xx-large;
      font-weight: normal;
      text-align: center;
    }

    .progress {
      margin: 0 10%;
      width: 80%;
    }
  }
}
