$font-content: DM Sans, sans-serif;
$font-title: DM Serif Display, sans-serif;
$blue-main-color: #5c98f2;

#header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background-color: rgba($color: #f5f5f5, $alpha: 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    .ant-menu-overflow {
        font-size: 16px;
        font-family: $font-content;
        background-color: rgba($color: #f5f5f5, $alpha: 0.9);
    }

    &.hidden {
        top: -100px;
    }

    &.show {
        top: 0;
    }

    .header-logo {
        font-size: 27px;
        padding-left: 3rem;
        font-family: $font-title;

    }

    .login-btn {
        
        margin-right: 3rem;
        padding:7px 25px;
        background-color: $blue-main-color;
    }
}