#header {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 10%;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

  .header-logo {
    font-size: 28px;
    font-weight: bold;
    font-family: var(--font-title);

    :first-child {
      color: black;
    }
  }

  .header-link {
    display: flex;
    gap: 12px;

    .link-item {
      display: inline-block;
      padding: 20px 0;
      min-width: 100px;
      color: black;
      text-align: center;
      font-size: 16px;
      font-weight: bold;

      &:hover {
        border-bottom: 1px solid var(--blue-main-color);
        color: var(--blue-main-color);
      }
    }

    .isSelected {
      border-bottom: 1px solid var(--blue-main-color);
      color: var(--blue-main-color);
    }
  }

  .header-actions {
    cursor: pointer;

    .login-btn {
      padding: 8px 24px;
      border-radius: 8px;
      background-color: var(--blue-main-color);
      color: white;
      font-weight: bolder;
    }
  }
}
