$font-content: DM Sans, sans-serif;
$font-title: DM Serif Display, sans-serif;
$blue-main-color: #5c98f2;
$blue-main-color-hover: #87b1f0;

.Home-getcontact-layout {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 8rem 0;

    .left-getcontact {
        background-image: url("../../../assets/beach-bg.jpg");
        background-size: cover;
        padding: 50px 0 70px 30px;
        margin: 20px;
        border-radius: 10px;

        .left-getcontact-title {
            font-family: $font-title;
            font-size: 45px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
            color: rgb(255, 255, 255);
            padding: 0 20px 20px 20px;
            margin: 0;
        }

        .left-getcontact-content {
            font-family: $font-content;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
            color: rgb(255, 255, 255);
            padding: 0 20px 20px 20px;
            width: 70%;
        }

        .left-getcontact-btn {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0px;
            color: #ffffff;
            padding: 16px 33px;
            margin: 20px 20px 0px 20px;
            border-radius: 10px;
            background-color: $blue-main-color;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: $blue-main-color-hover;
                transition: 0.25s;
            }
        }
    }

    .right-getcontact {
        border-radius: 10px;
        margin: 20px;
        background-color: #e9e8e8;
        padding: 50px 0px 70px 30px;

        .right-getcontact-title {
            padding: 0px 20px 30px 20px;
            font-family: $font-title;
            font-size: 33px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
            color: #000000;
            margin: 0;

        }

        .right-getcontact-content {
            padding: 0px 0px 30px 20px;
            font-family: $font-content;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #757575;
            width: 80%;
        }

        .right-getcontact-btn-container {
            background-color: #fff;
            margin: 0 20px;
            border-radius: 50px;
            display: flex;
            // justify-content: space-between;
            align-items: center;
            line-height: 21px;
            width: fit-content;

            span {
                font-size: 20px;
                padding: 0 5px 0 20px;
            }

            .right-getcontact-input {
                padding: 10px 0;
                min-width: 200px;
                border: none;
                background-color: #fff;
                font-size: 15px;
                font-family: $font-content;

                &:focus-visible {
                    outline: none;
                }
            }

            .right-getcontact-btn {
                border-radius: 50px;
                padding: 20px 48px;
                border: none;
                font-family: $font-content;
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                background-color: $blue-main-color;
                cursor: pointer;

                &:hover {
                    background-color: $blue-main-color-hover;
                    transition: 0.25s;
                }
            }
        }
    }
}