.container-home-rental {
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info-rental {
    width: 50%;

    .title {
      color: var(--blue-main-color);
      font-size: xx-large;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .line {
      width: 50%;
      height: 4px;
      border-radius: 50px;
      background-color: var(--blue-main-color);
      margin-bottom: 16px;
    }

    .description {
      margin-bottom: 16px;
      font-size: medium;
      text-align: justify;
    }

    .button {
      width: 30%;
      height: 50px;
      border: none;
      border-radius: 50px;
      background-color: var(--blue-main-color);
      color: white;
      font-size: medium;
      cursor: pointer;
      transition: 0.3s ease-in-out all;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .img-rental {
    width: 50%;
    text-align: right;

    .img {
      width: 80%;
      border-radius: 20px;
    }
  }
}
