.footer {
  padding: 100px 10%;
  background-color: #1a1a1a;

  .content {
    #Logo-footer {
      color: #fff;
      font-size: 28px;
      font-family: var(--font-title);
      font-weight: 400;

      span {
        color: var(--blue-main-color);
      }
    }

    .Footer-container-content {
      .Footer-title-container {
        color: #fff;
        font-size: 28px;
        font-family: var(--font-title);
        font-weight: 400;
      }

      .Footer-content-container {
        font-size: 16px;
        color: gray;
        padding: 12px 0;
      }
    }
  }
}
