.container-hotel-hotelSearch {
  position: relative;
  margin: 100px 10%;
  width: 80%;
  height: 100%;

  .search-layout-hotels {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 40px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--blue-main-color);
    font-size: 16px;
    font-weight: 500;

    .body {
      display: flex;
      align-items: center;
      gap: 10px;
      flex: 1;
      padding: 0 10px;

      .item {
        width: 33%;
      }
    }

    .search-layout-hotels-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 28px;
      height: 60px;
      border-radius: 0 10px 10px 0;
      background-color: rgb(255, 255, 255);
      color: var(--blue-main-color);
      font-family: var(--font-content);
      font-size: large;
      cursor: pointer;
    }
  }

  .hotel {
    position: relative;
    display: flex;
    gap: 20px;

    .filter {
      position: sticky;
      top: 100px;
      padding: 20px;
      width: 250px;
      height: fit-content;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color: white;

      .facilities {
        margin: 0 0 20px;
        font-family: var(--font-title);
        font-size: 1.5rem;
        font-weight: bold;

        .facilities-check-box {
          font-weight: normal;
          font-size: larger;
        }
      }

      .btn {
        padding: 20px 0;
        width: 100%;
        border: 1px solid var(--blue-main-color);
        border-radius: 4px;
        background-color: white;
        color: var(--blue-main-color);
        font-weight: bolder;
        font-size: 14px;
        transition: all ease-in-out 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .list-hotel {
      flex: 1;

      .hotel-item {
        position: relative;
        display: flex;
        margin-bottom: 20px;
        height: 240px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: white;
        overflow: hidden;

        .hotel-img {
          width: 30%;
          object-fit: cover;
        }

        .hotel-info {
          flex: 1;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .body-start {
            .hotel-name {
              margin: 0 0 4px;
              font-size: 1.4rem;
              font-weight: bold;
            }

            .hotel-rating {
              margin: 0 0 16px;
              color: yellowgreen;
            }

            .hotel-conveniences {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;

              .no-conveniences {
                padding: 8px;
                width: 100%;
                border-radius: 8px;
                background-color: whitesmoke;
                color: gray;
                font-size: 16px;
                text-align: center;
              }

              .convenience-item {
                padding: 8px;
                border-radius: 8px;
                background-color: whitesmoke;
                color: gray;
              }
            }
          }

          .body-end {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hotel-price {
              font-size: 1.2rem;
              font-weight: bold;

              .hotel-original-price {
                text-decoration: line-through;
                color: #888;
              }

              .hotel-current-price {
                color: #000;
              }
            }

            .hotel-book-now {
              display: inline-block;
              padding: 8px 16px;
              border-radius: 8px;
              background-color: var(--blue-main-color);
              color: white;
              transition: all ease-in-out 0.2s;

              &:hover {
                transform: scale(1.02);
              }
            }
          }
        }

        .hotel-discount {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 1;
          padding: 0.2rem 0.5rem;
          border-radius: 4px;
          background-color: var(--blue-main-color);
          color: white;
        }
      }

      .pagination-container {
        text-align: right;
      }

      .no-data {
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        background-color: whitesmoke;
        color: gray;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
