$font-content: DM Sans, sans-serif;
$font-title: DM Serif Display, sans-serif;
$blue-main-color: #5c98f2;

#header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background-color: rgba($color: #e4e2e274, $alpha: 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    .ant-menu-overflow {
        font-size: 16px;
        font-family: $font-content;
        background-color: rgba($color: #f5f5f5, $alpha: 0.9);
    }

    &.hidden {
        top: -100px;
    }

    &.show {
        top: 0;
    }

    .menu {
        margin-left: 35%;
        border: none;
        background-color: transparent;

        .item {
            padding: 0 1rem;
            min-width: 120px;
            text-align: center;
        }
    }

    .header-logo {
        font-size: 27px;
        padding-left: 3rem;
        font-weight: 600;
        font-family: $font-title;

    }

    .profile-btn {
        z-index: 1;
        margin-left: auto;
        margin-right: 3rem;
    }

    .login-btn {
        margin-right: 3rem;
        padding: 4px 25px;
        background-color: $blue-main-color;
    }
}