#second-header {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 2%;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-main-color);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

  .header-logo {
    font-size: 28px;
    font-weight: bold;
    font-family: var(--font-title);
  }

  .logout-btn {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
    color: var(--blue-main-color);
    font-weight: bolder;
    cursor: pointer;
  }
}
