.slideshow {
  margin: 0 0 20px;
  max-width: 100vw;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: smooth;
  will-change: scroll-position;

  .hotel-img {
    width: 600px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
