.rooms-section-wrapper {
  padding: 60px 0 0;

  .rooms-section-title {
    margin: 20px 0;
    text-align: center;
    font-size: x-large;
    font-family: var(--font-title);
  }

  .rooms-list {
    .room-card {
      display: flex;
      align-items: center;
      margin: 0 0 40px;
      height: 220px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: white;
      transition: all 0.4s ease;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .roomType-img {
        width: 30%;
        height: 220px;
        border-radius: 8px 0 0 8px;
        object-fit: cover;
      }

      .roomType-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        height: 100%;

        .body-start {
          .roomType-name {
            margin-bottom: 8px;
            font-size: x-large;
          }

          .more-info {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 40px;

            .info-item {
              color: gray;
              font-weight: bold;
            }
          }

          .roomType-conveniences {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;

            .convenience-item {
              padding: 8px;
              border-radius: 8px;
              background-color: whitesmoke;
              color: gray;
            }

            .no-conveniences {
              padding: 8px;
              width: 100%;
              border-radius: 8px;
              background-color: whitesmoke;
              color: gray;
              font-size: 16px;
              text-align: center;
            }
          }
        }

        .body-end {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .price {
            font-size: medium;
            font-weight: bold;

            .number {
              color: black;
              font-size: larger;
            }
          }

          .roomType-book-now {
            display: inline-block;
            padding: 8px 16px;
            border-radius: 8px;
            border: 1px solid var(--blue-main-color);
            background-color: var(--blue-main-color);
            color: white;
            font-weight: bold;
            transition: all ease-in-out 0.2s;

            &:hover {
              border: 1px solid var(--blue-main-color);
              background-color: white;
              color: var(--blue-main-color);
            }
          }
        }
      }
    }
  }
}
