$font-content: DM Sans, sans-serif;
$font-title: DM Serif Display, sans-serif;
$blue-main-color: #5c98f2;

.wrapper {
  min-height: 100vh;
  padding-top: 100px;
  font-family: $font-content;

  .container {
    width: 100%;
    padding: 60px;

    .heading {
      margin: 0 0 20px 0;

      .name {
        font-size: 44px;
      }

      .feedback {
        margin: 8px 0 0 0;
        display: flex;
        align-items: center;
        gap: 8px;

        .rate {
          font-size: 14px;
        }

        .review {
          color: #8c8c8c;
        }
      }
    }

    .overview {
      margin: 0 0 40px 0;

      .item {
        display: inline-block;
        width: 200px;
        color: #8c8c8c;
        font-size: 17px;
      }
    }

    .img {
      margin: 0 0 40px 0;
      width: 100%;
      display: flex;
      gap: 12px;

      .main-img {
        width: 60%;
        height: 412px;
      }

      .sub-img {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .item {
          width: 48%;
          height: 50%;
          height: 200px;
        }
      }
    }

    .info {
      display: flex;
      gap: 40px;
      border-bottom: 1px solid #b3b2b2;

      .details {
        width: 76%;
        color: #8c8c8c;

        .price {
          padding: 0 0 40px 0;
          border-bottom: 1px solid #b3b2b2;

          .from {
            color: #0f0f0f;
            font-size: 22px;
          }

          .per {
            font-size: 17px;
          }
        }

        .description {
          padding: 40px 0;
          border-bottom: 1px solid #b3b2b2;
          font-size: 18px;
          text-align: justify;
        }

        .amenities {
          padding: 40px 0;
          border-bottom: 1px solid #b3b2b2;

          .section {
            .title {
              padding: 0 0 20px 0;
              color: #383838;
              font-size: 25px;
            }

            .list {
              padding: 0 0 40px 0;
              display: flex;
              flex-wrap: wrap;
              gap: 40px;

              .item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2%;
                width: 30%;
                height: 84px;
                border: 1px solid #b3b2b2;
                border-radius: 8px;
                font-size: 17px;
              }
            }
          }
        }

        .rules {
          padding: 40px 0;

          .title {
            padding: 0 0 20px 0;
            color: #383838;
            font-size: 25px;
          }

          .list {
            .item {
              font-size: 18px;
            }
          }
        }
      }

      .booking {
        width: 24%;

        .title {
          padding: 0 0 40px 0;
          display: block;
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline;
          text-underline-offset: 8px;
          text-align: center;
        }

        .item {
          margin: 0 0 20px 0;
          padding: 6%;
          background-color: rgb(223, 223, 223);
          border-radius: 8px;

          .sub-title {
            margin: 0 0 4px 0;
            color: #8f8f8f;
            font-size: 16px;
            font-weight: bold;
          }

          .select {
            width: 100%;
            background-color: rgb(223, 223, 223);
          }

          .sub-item {
            margin: 4px 0 0 0;
            display: flex;
            align-items: center;
            gap: 8px;

            .field {
              width: 64px;
              font-size: 13px;
              font-weight: 500;
            }
            .select {
              flex: 1;
            }
          }
        }

        .btn {
          padding: 20px 24px;
          width: 100%;
          background-color: white;
          border: 2px solid black;
          border-radius: 4px;
          font-weight: bolder;
          font-size: 14px;
          transition: all ease-in-out 0.2s;
          cursor: pointer;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }

    .more-rooms {
      padding: 80px 0;
      border-bottom: 1px solid #b3b2b2;

      .title {
        margin: 0 0 40px 0;
        color: #383838;
        font-size: 31px;
        text-align: center;
      }

      .list-rooms {
        display: flex;
        gap: 40px;

        .item {
          border: 1px solid back;

          .meta {
            position: relative;

            .sale-off {
              position: absolute;
              top: 12px;
              right: 12px;
              padding: 2.8%;
              border-radius: 8px;
              background-color: $blue-main-color;
              color: white;
            }

            .img {
              .thumb {
                width: 100%;
              }
            }

            .price {
              position: absolute;
              left: 25px;
              bottom: 10px;
              padding: 2.8%;
              background-color: black;
              color: white;
              font-size: 20px;
              font-weight: bold;

              .old {
                font-size: 14px;
                color: #a4a4a4;
                text-decoration: line-through;
                font-weight: normal;
              }
            }
          }

          .name {
            display: block;
            margin: 0 0 20px 0;
            color: black;
            font-size: 30px;
            font-weight: bold;
          }

          .sub-overview {
            margin: 0 0 20px 0;

            .item {
              display: inline-block;
              width: 120px;
              color: #848484;
              font-size: 14px;
            }
          }

          .booking {
            color: black;
            font-size: 13px;
            font-weight: 500;

            &:hover {
              text-decoration: underline;
              text-underline-offset: 8px;
            }
          }
        }
      }
    }

    .feedback {
      padding: 0 0 20px 0;
      border-bottom: 1px solid #b3b2b2;

      .total {
        padding: 20px 0 20px 0;
        margin: 0 0 40px 0;
        border-bottom: 1px solid #b3b2b2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .review {
          .count {
            margin: 0 25px 0 0;
            font-size: 20px;
            font-weight: bold;
          }
          .rate {
            color: black;
          }
        }

        .sort {
          .title {
            margin: 0 15px 0 0;
            font-size: 15px;
            color: #272727;
            font-weight: bold;
          }

          .btn {
            margin: 0 15px 0 0;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 15px;
            color: black;
            cursor: pointer;
          }
        }
      }

      .list {
        .item {
          margin: 0 0 40px 0;
          display: flex;
          align-items: center;

          .user {
            .avatar {
              margin: 0 40px 0 0;
            }

            .name {
              margin: 0 60px 0 0;
              font-size: 20px;
              font-weight: bold;
            }
          }

          .review {
            .content {
              margin: 0 0 20px 0;
              color: #8c8c8c;
              font-size: 17px;
            }

            .rate {
              margin: 0 0 8px 0;
              color: black;
              font-size: 16px;
            }

            .date {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
